body {
	margin: 0; padding: 10px 15px 20px 15px; 
	background-color: #e0e0e0);
	font: normal 1.0em/1.2em arial, helvetica, sans-serif;
	color: #000;
	}

a:link {color: #060; text-decoration: none; border-bottom: 0px solid #fff;}
a:visited {color: #060; text-decoration: none; border-bottom: 0px solid #fff;}
a:hover  {color: #0c9; text-decoration: none; border-bottom: 0px solid #CC6633;}
a:active {color: #060; text-decoration: none; border-bottom: 0px solid #fff;}

h1 {margin: 0 0 0.8em 0; padding: 0; font: bold 1.6em/1.0em arial, helvetica, sans-serif; }
h2 {margin: 0 0 0.8em 0; padding: 0; font: bold 1.4em/1.0em arial, helvetica, sans-serif; }
h3 {margin: 0 0 0.8em 0; padding: 0; font: bold 1.2em/1.0em arial, helvetica, sans-serif; }
h4 {margin: 0 0 0.8em 0; padding: 0; font: bold 1.0em/1.0em arial, helvetica, sans-serif; }

.ath {margin: 0.4em 0 2em 0; font: bold 0.8em/1.6em arial, helvetica, sans-serif;}

cite {
	margin: 2px; padding: 8px; 
	font: normal 1.0em/1.2em courier, 'courier new', monospace;
	background-color: #e0e0e0;
	color: #333;
}
